<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>NewLetter for me **</h3>
    {% for post in object_list %}
        
            <h4><a href="{% url 'news_detail' post.pk %}">{{post.title}}</a></h4>
            <small>{{post.body}}</small>
        
    {% endfor%}
    
        
    <a  id="addpost" href="{% url 'addnews' %}">Add a Post</a>

    
    <style>
        #addpost{
            position: fixed;
            top: 5%;
            right: 5%;
        }
    </style>
</body>

</html>